body{
  background-color: black;
  font-family: verdana;
  text-align: center;
}

h1{
  font-size: 50px;
  color: White;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.link{
  color: AquaMarine;
  font-size: 16px;
}

p{
  font-size: 21px;
  color: gray;
}

#footer{
  text-align: right;
  color: gray;
}
